.loader-spinner-button {
    cursor: pointer;
    /* background: linear-gradient(#FFF, #FFF) padding-box, linear-gradient(to right,#7cb4e4,#1c74d4,#0e39a9) border-box; */
    background-color: #293b51;
    padding:  10px;
    color: #fff;
    transition: all .5s ease;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  .loader-spinner-button:hover {
    background: linear-gradient(to right,#fff, #fff) border-box;
    border: 2px solid #293b51;
    color: #293b51;
    transition: all .1s ease;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay:0s;
  
  }
  
  .loader-spinner-button:disabled {
    background-color: #293b51;
    color: #fff;
    cursor: not-allowed;
    width: 110px;
  }
  
  .spinner-button {
    animation-name: loaderspinner;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 20px;
  }

  .spinner {
    animation: loaderspinner 1s forwards infinite;
  }
 
/*   
  @media (max-width:768px){
    .loader-spinner-button{
      padding:4px 10px;
    }
  
    .loader-spinner-button:disabled {
      width: 100px;
    }
  } */