#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-y: scroll;
}

.app-main-button{
  background-color: #293b51;
  border: none;
  border: #293b51 2px solid;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.app-main-button:hover{
  background-color: #fff;
  border: #293b51 2px solid;
  color: #293b51;
}
.not-found-image{
  width: 400px;
  height: 400px;
}

.app-main-heading{
  font-size: 28px;
  font-weight: 700;
  color: #293b51;
}
.app-main-heading2{
  font-size: 22px;
  font-weight: 700;
}

.form-label{
  margin-top: 15px;
  align-self: flex-start;
  font-weight: 600;
  font-size: 14px;
}