#root {
  height: 100%;
  width: 100%;
  text-align: center;
}
.appMainButton{
  background-color: #293b51;
  border: none;
  min-width: 130px;
  border: #293b51 2px solid;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.appMainButton:disabled{
  background-color: #fff;
  border: #293b51 2px solid;
  color: #293b51;

}

.appMainButton:hover{
  background-color: #fff;
  border: #293b51 2px solid;
  color: #293b51;
  
}
.notFoundImage{
  width: 400px;
}

.appMainHeading{
  font-size: 28px;
  font-weight: 700;
  color: #293b51;
  
}
.appMainHeading2{
  font-size: 22px;
  font-weight: 700;
}

.form_label{
  margin-top: 15px;
  align-self: flex-start;
  font-weight: 600;
  font-size: 14px;
}