.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .not-found-img {
    width: 600px;
  }

  .not-found-heading{
    color: #293b51;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
  }